#gameboard{
  width: 360px;
  margin: 80px auto 0px auto;
}
.row{
  clear: both;
  overflow: hidden;
}
.square{
  float: left;
  width: 119px;
  height: 90px;
  cursor: pointer;
  text-align: center;
  font-size: 60px;
  padding-top: 29px;
}
.bottom{
  border-bottom: 1px solid black;
}
.right{
 border-right: 1px solid black;
}
.ex{
  background-color: red;
}
.oh{
 background-color: blue;
}
#results{
  padding-top: 40px;
  text-align: center;
}
